h1, h2, h3, h4, h5, h6, .slide {
  font-family: "Trebuchet MS",Ubuntu,"Liberation Sans",FreeSans,sans-serif;
}

h1, h2, h3 {
    margin: 0.5em 0.3em;
}

.slide {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#CEEAF9));
  background: -moz-linear-gradient(top, #fff, #CEEAF9);
  color: #014d65;
  font-size: 1.3em;
}

.stagingdata {
  line-height: 19px;
}

.stagingdata pre code { 
  font-size: 25px;
  color: #000;
}

.example pre { 
  position: absolute;
  top: 100px;
  font-size: 27px;
  color: #000;
}

.example pre strong { color: #ff7f00; }

.green { color: #3a4; }
.red   { color: #a34; }
.redcode code  { color: #a34; }

.bigcode pre code { font-size: 1.3em; }

.blockimg img {
  border: 20px solid #014d65;
}

img {
    position: relative;
    padding:2em 0 2em 0;
}

.limg img:first-child {
    width: 90%;
    height: auto;
}

.smimg img:first-child {
    height: auto;
    width: 60%;
    padding: 0.5em;
}

.sm-vert-img img:first-child {
    padding-top:0;
    height: 400px;
    width: auto;
}

.right-img img:first-child {
    float: right;
    padding-right: 15%;
}

.full-screen-img img {
    padding:0;
}

h1 {
  font-weight: bold;
  font-size: 4.5em;
}

.listcode ul li { 
  text-align: left;
  margin-left: 50px;
  font-family: monospace;
  font-size: 40px;
}

.list ul li { 
  text-align: left;
  margin-left: 50px;
}

.list ul li strong {
  color: #be260d;
  font-weight: bolder;
  font-size: 1.1em;
}

.list ul li em {
  color: #be260d;
}

.title h1 {
  font-weight: bolder;
  font-size: 160px;
  color: #014d65;
  margin-top: 40px;
  margin-bottom: 30px;
  letter-spacing:-6px;
  line-height: 100px;
}

.title h2 {
  font-weight: bold;
  font-size: 95px;
  color: #0b98b4;
  margin-bottom: 30px;
}
.title h3 {
  font-weight: lighter;
  font-size: 50px;
  color: #0b98b4;
  border-bottom: 40px;
}

.bold h1 {
  color: #BE260D !important;
}

.subsec h1 {
  font-weight: bolder;
  font-size: 160px;
  color: #014d65;
  margin-bottom: 5px;
  line-height: 130px;
}

.subsec h2 {
  font-weight: bold;
  font-size: 95px;
  margin-top: 10px;
  color: #0b98b4;
}
.subsec h3 {
  font-weight: lighter;
  font-size: 50px;
  color: #0b98b4;
}

table.rdata {
  margin-left: 50px;
  width: 90%;
  background: #fff;
  padding: 8px;
  border: 1px solid #333;
  font-size: 1.5em;
}

.rvc h2 {
  font-size: 60px;
  font-weight: bold;
}
.rvc h3 {
  font-size: 40px;
  color: #0b98b4;
}

table.rdata tr.level {
  color: #0b98b4;
  background: #def;
}

table.rdata tr.even {
  background: #eee;
}

table.rdata tr th.cmd {
  font-family: monospace;
  text-align: left;
}
table.rdata tr {
}

table.rdata tr th {
  padding: 8px;
}
table.rdata tr td {
  padding: 15px 8px;
  border-left: 1px solid #def;
}
table.rdata tr td.no {
  background: #fdd;
}
table.rdata tr td.yes {
  background: #dfd;
}
table.rdata tr td.yes-wd {
  background: #aea;
}
table.rdata tr td.no-wd {
  background: #eaa;
}

.backup h1 {
  margin-bottom: 80px;
}
.backup {
  line-height: 19px;
}
.backup pre code {
  font-size: 25px;
}

.tiny {
  line-height: 19px;
}

.tiny pre code { 
  font-size: 25px;
  color: #000;
}

.bullets ul {
    font-size: 50px;
}

.bullets ol {
    font-size: 50px;
}

.bullets ul li {
    padding: 15px;
}

.bullets ul li strong {
  color: #be260d;
  font-weight: bolder;
  font-size: 1.1em;
}

.bullets ul li em {
  color: #be260d;
}

.smbullets ul li {
    font-size: 35px;
    padding: 15px;
    margin: 20px 0 20px 0;
}

.list ul {
    font-size: 50px;
    list-style-type: disc;
    margin: 0 0 20px 60px;
}

.list ol {
    font-size: 50px;
    list-style-type: decimal;
    margin: 0 0 15px 20px;
}

.list ol li {
    padding: 15px;
    text-align: left;
}

code {
    font-family: "Liberation Mono", monospace;
}

.commandline pre {
    font-size: 16pt;
    margin-right: 40px;
    margin-left: 40px;
    padding-bottom: 10px;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.9);
}

.codeblock pre {
    font-size: 16pt;
    margin-right: 40px;
    margin-left: 40px;
    padding-bottom: 10px;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.9);
}

.commandline code.command {
    color: white;
}

.commandline code.result {
    color: lime;
}

.center code, pre {
    color: white;
    text-align: left;
}

blockquote {
    font-size: 2.3em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

.slide .center {width:1024px;}
